@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --primary-font: 'Lato', sans-serif;

    --primary-color: #ba0006;
    --secondary-color: #f2f2f2;

    --quarter: 25rem;
}

.bg-gray {
    background-color: var(--secondary-color);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.d-none {
    display: none;
}

.m-auto {
    margin: 0 auto;
    max-width: 270px;
}

.bold {
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    /* 1rem = 10px */
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

svg {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
}

.container {
    position: relative;
    width: min(90%, 100rem);
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 3rem;
}

section h2,
h3 {
    color: var(--primary-color);
}

.section__title {
    border-bottom: 0.5rem solid var(--primary-color);
}

p {
    margin: 1rem 0;
    text-align: justify;
}

/* Corners balls */
.ball-red {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--quarter);
    height: var(--quarter);
    background: var(--primary-color);
    border-radius: 0 0 var(--quarter) 0;
    -moz-border-radius: 0 0 var(--quarter) 0;
    -webkit-border-radius: 0 0 var(--quarter) 0;
    z-index: -1;
}

.red-2 {
    top: unset;
    left: unset;
    bottom: 0;
    right: 0;
    width: 15rem;
    height: 15rem;
    border-radius: 15rem 0 0 0;
    -moz-border-radius: 15rem 0 0 0;
    -webkit-border-radius: 15rem 0 0 0;
}

.ball-gray {
    width: 120%;
    height: 40rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    top: -17.5rem;
}

/* Header */
.select_idiom {
    position: absolute;
    left: 25%;
    transform: translate(-25%, 0);
    z-index: 1000;
    -webkit-transform: translate(-25%, 0);
    -moz-transform: translate(-25%, 0);
    -ms-transform: translate(-25%, 0);
    -o-transform: translate(-25%, 0);
}

header {
    position: relative;
}

.header__photo {
    border-radius: 50%;
    padding: 1.5rem;
    border: .4rem solid black;
    max-width: 25rem;
}

.header__title {
    font-weight: bold;
    text-transform: uppercase;
}

.header__title span {
    display: block;
    color: var(--primary-color);
    font-size: 5rem;
}

/* Main */
.main .section__container {
    margin-bottom: 1rem;
}

h3 {
    margin: 0;
}

.main .background .section__container:first-of-type {
    border-bottom: 1px solid;
}

.main .dates {
    font-size: 2rem;
}

.institution_name {
    color: black;
}

.education .section__container:not(.section__container:last-child) {
    border-bottom: 1px solid;
}

.degree {
    list-style: disc outside none;
    display: list-item;
    margin-left: 2.5rem;
}

.contacts>p {
    display: flex;
}

button {
    margin-left: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bolder;
    padding: 2.5px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Footer */

.skill {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    color: white;
}

.skill li {
    font-size: 2rem;
    list-style-type: none!important;
    background: var(--primary-color);
    padding: .5rem;
    border-radius: 5px;
}

.iconos {
    font-size: 4rem;
}

.iconos i {
    color: var(--primary-color);
    transition: all 0.5s;
}

.iconos i:hover {
    filter: brightness(1.75);
}

.github {
    background-color: black;
    width: fit-content;
    border-radius: 5px;
    align-self: center;
}

.github a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.github:hover {
    filter: brightness(.75);
}

.flex-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-contact>* {
    display: flex;
    align-items: center;
}

.flotante {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 1%;
    left: 50%;
    text-align: center;
}

.download a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 80%;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
}

.download a:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

/* Table Education */

table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
}

table td {
    background-color: white;
}

td:not(.none) {
    border: 1px solid var(--secondary-color);
    padding: 5px;
    width: 50%;

}

.year {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-weight: bold;
}

table .titles td {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Layout */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.column-1 {
    flex: 1 1 20ch;
}

.column-2 {
    flex: 4 1 30ch;
}

footer.column-1 {
    order: -1;
}
.header__photo {
    filter: grayscale(100%)  drop-shadow(-8px 8px 8px #000);
    -webkit-filter: grayscale(100%)  drop-shadow(-8px 8px 8px #000);
}

/* Query */
@media (max-width: 900px) {
    html {
        font-size: .4rem;
    }

    .header__img,
    .header__container {
        text-align: center;
    }

    .flotante {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        bottom: 1%;
        left: 0;
        text-align: center;
    }

    .container {
        padding: 0;
    }

    /* Flotante */
    .a2a_default_style {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }


}